{
  "environment": "prod",
  "debug": false,
  "Captcha": {
    "secret": "",
    "sitekey": ""
  },
  "Tweeter": {
    "similarityTreshold": 0.75,
    "cooldown": 8,
    "predefinedTweet": "I'm using the Thundercloud (https://github.com/swader/thundercloud) Faucet to get some Test Ether to launch an Ethereum 2.0 Genesis event",
    "predefinedHashTags": "ethereum, eth2, serenity"
  },
  "Ethereum": {
    "milliEtherToTransferWithTweet": 32000,
    "milliEtherToTransferWithoutTweet": 1000,
    "gasLimit": "21000",
    "prod": {
      "rpc": "http://127.0.0.1:8545",
      "account": "0x471e0575bFC76d7e189ab3354E0ecb70FCbf3E46",
      "privateKey": "2960a712dcbcd755be598955b08ee0f697b372aed31005bd55fd02949b6917bb"
    }
  }
}
