{
  "environment": "prod",
  "debug": false,
  "port": "FAUCET_PORT",
  "Captcha": {
    "secret": "",
    "sitekey": ""
  },
  "Tweeter": {
    "similarityTreshold": 0.75,
    "cooldown": 8,
    "predefinedTweet": "I'm using the Thundercloud (https://github.com/status-im/thundercloud) Faucet to get some Test Ether to launch an Ethereum 2.0 Genesis event",
    "predefinedHashTags": "ethereum, eth2, serenity"
  },
  "Ethereum": {
    "milliEtherToTransferWithTweet": 32000,
    "milliEtherToTransferWithoutTweet": 1000,
    "gasLimit": "21000",
    "prod": {
      "rpc": "http://127.0.0.1:PORT",
      "account": "ADDRESS",
      "privateKey": "PRIVATE_KEY_WITHOUT_0x"
    }
  }
}
